<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
      <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right' %>
      <table class="table">
        <tr>
          <th scope="row">氏名</th>
          <td><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row">アバター</th>
          <td>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar.url, size: "150x150" %>
            <% else %>
              アバターなし
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
