<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板詳細</h1>
      <!-- 掲示板内容 -->
<article class="card">
  <div class="card-body">
    <div class='row'>
      <div class='col-md-3'>
        <% if @board.board_image.present? %>
          <img class="card-img-top img-fluid" src="<%= @board.board_image.url %>" width="300" height="200" />
        <% end %>
      </div>
      <div class='col-md-9'>
        <h3 style='display: inline;'><%= @board.title %></h3>
        <ul class="list-inline">
          <li class="list-inline-item">by <%= @board.user.name %></li>
          <li class="list-inline-item"><%= @board.created_at.strftime('%Y/%m/%d %H:%M') %></li>
        </ul>
      </div>
    </div>
    <p><%= @board.body %></p>
  </div>
</article>
</div>
</div>

<%= render 'comments/form', board: @board %>


  <!-- コメントエリア -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table id="js-table-comment" class="table">
        <%= render @comments %>
      </table>
    </div>
  </div>
</div>
